<!doctype html>
<html lang="en" ng-app="myApp" >
<head>
	<meta charset="utf-8">
	<title>Convergence</title>

	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>

</head>
<body class="iwc ng-hide" ng-show="loginCtrl.isReady" ng-controller="LoginCtrl as loginCtrl">
	<form name="loginForm" ng-submit="loginCtrl.login()">
		<label for="username" ngcloak>{{'login_username' | translate }}
			<input id="username" type="text" ng-model="loginCtrl.userName" ng-change="loginCtrl.dataChanged()" />
		</label>

		<label for="password" ngcloak>{{'login_password' | translate}}
			<input id="password" type="password" ng-model="loginCtrl.password" ng-change="loginCtrl.dataChanged()" />
		</label>
		
		<input name="signin" type="submit" value="Sign in" ng-disabled="loginCtrl.isDisabled"/>
					
	</form>

<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-sanitize.js"></script>
	<script src="lib/angular/angular-cookies.js"></script>
	<script src="lib/angular-ui/ui-bootstrap-tpls-0.6.0.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/angular-translate/angular-translate.js"></script>
	<script src="lib/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>

	<script src="iwc/app.js"></script>
	<script src="iwc/controllers/LoginCtrl.js"></script>
	<script src="iwc/services/iwcp.js"></script>


</body>
</html>

