<div class="iwc-msglist" ng-controller="IwcMailMsgListCtrl" iwcng-center>
	<div class="iwc-msg" ng-repeat="msg in msgs" ng-click="rowClicked()">
		<div class="iwc-row iwc-row-hover">
			<div class="inline-block">
				<label class="checkbox">
					<input type="checkbox">
					</label>
				</div>
			<div class="inline-block">
				<div class="iwc-from iwc-ellipsis">
					{{msg.subject}}
				</div>
				<div class="iwc-subject iwc-ellipsis">
					{{msg.from}} +
				</div>
				<div class="iwc-content iwc-ellipsis">
					{{msg.shortText}}
				</div>
			</div>
		</div>
	</div>
</div>