<nav class="iwc-banner" ng-controller="BannerCtrl">
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Convergence</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="nav" ng-repeat="panel in $parent.panels" ng-class="{active:panel.selected}">
					<a href="" ng-click="$parent.selectPanel(panel)">{{panel.title}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">{{'banner_theme' | translate}}</a></li>
						<li><a href="#">{{'banner_help' | translate}}</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="i"></i>{{'banner_signout' | translate}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
