/* app css stylesheet */

.views-container .nav {
    margin: 0px 10px;
}

.view-content {
    height: 600px;
    border: 1px red solid;
}

.view-content .view-pane {
    display: none;
}

.view-content .active {
    display: block;
}

.view-pane .row-fluid > div {
	border: 1px #f5f5f5 solid;
}

.iwcFill {
	height: 100%;
}

.iwcEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.iwcRoundRadius {
	border-radius: 15px;
}

.iwcMaxWidth50 {
	max-width: 50%;
}