.iwc-banner {
	padding: 0px 0px;
	height: 50px;	/* if this value is modified, do you need to modify "iwc-main-container" height in app.css? */
	/* background-color: #595959; */
}


.iwc-banner .navbar-inner {
	-webkit-border-radius: 0px;
	border-radius: 0px;

}

.iwc-banner .brand {
	color: white;
}

